<!DOCTYPE html>
<html>
<head>
	<title>Listado de Fotos</title>
</head>
<body>
	<h1>Fotos</h1>
	{% if pics|length == 0 %}
		<strong>No hay fotos en la base de datos</strong>
	{% else %}
		<ul>
			{% for pic in pics %}
				<li>{{ pic.title }}</li>
			{% endfor %}
		</ul>
	{% endif %}
</body>
</html>